@tailwind base;
@tailwind components;
@tailwind utilities;

.movieLists::-webkit-scrollbar {
  display: none;
}
.titleScroll::-webkit-scrollbar {
  display: none;
}
.movieClips::-webkit-scrollbar {
  display: none;
}
.movieClips {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.movieCard {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.companyLogo{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}